
@font-face {
    font-family: basiercircle;
    src: url(../assests/font/basiercircle-regular.otf);
  }
:root {
    --clr-dark:#141f25;
    --clr-light-blueish:#8A97A1;
    --clr-grey:#ADB4B9;
    --clr-white:#FFFFFF;
}
html{
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'basiercircle';
    background-image: url(../assests/images/stormseeker-rX12B5uX7QM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: var(--clr-white);

}
a{
    text-decoration: none!important;
    outline: none;
    color: var(--clr-white);
}
a:active, a:focus { 
    outline: none; 
}
   

nav{
    margin: 2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.nav-brand{
    text-align: center;
}
.nav-brand h1{
    font-weight: 900;
    text-align: center;
}
.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links ul li{
    margin: 0 1rem;
    cursor: pointer;
    text-transform: uppercase
}
.nav-links ul li:hover{
    font-weight: 900;
}




.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
